
html, body, footer {
	padding: 0px;
	margin: 0px
}

html, body {
	height: 100%;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: blue;
}

.check-list {
	float: left;
	background-color: #3d4042;
	padding: 13px;
	height: 100%;

}

.check-list a:link {
    color: #ececec;
} 

.check-list a:visited {
    color: #ececec;
}

.check-list ul {
  	list-style: none;
	padding-left: 0px;
}

.check-list li {
	padding: 12px;
}

ul li.done:before {
  content: '✓';
  color: #8bc34a;
  padding-right: 5px;
}

.check-list h4 {
	color: #ffffff;
}

.nav {
	background: lightsteelblue;
	position: relative;
	height: 9%;
	font-family: Arial, Helvetica, sans-serif;
}

.nav a:link {
    color: white;
} 

.nav a:visited {
    color: white;
}

.title {
	text-align: center;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translateY(-50%);
}

.logo {
	height: 85%;
    width: 60px;
	position: absolute;
	top: 0;
    bottom: 0;
    margin: auto;
    padding-left: 1%;
}

.options {
	position: absolute;
    top: 50%;
    left: 85%;
    transform: translateY(-50%);
}

.profile {
	position: absolute;
    top: 50%;
    left: 93%;
    transform: translateY(-50%);
    height: 45px;
    width: 45px;
    cursor: pointer;
}

.main-body {
	font-family: Verdana, Geneva, sans-serif;
	height: 91%;
}

.intro-head {
	height: 430px;
	background-image: url("../img/leasing-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.intro-content {
	position: static;
	background-color: #3d4042;
	color: #ececec;
}

.intro-content h3 {
	color: #ffffff
}

.introduction {
	position: absolute;
    top: 82%;
    right: 65%;
    transform: translateY(-50%);
    color: white;
    background-color: lightsteelblue;
    padding: 12px;
}

.introduction h1, h4 {
	margin: 0px;
	padding: 0px;
}

.intro-leasing {
	height: 500px;
}

.intro-leasing h1 {
	text-align: center;
    padding-top: 20px;
    margin-top: 0px;
}

.features {
	padding: 15px;
}

.floating-box {
	float: left;
    width: 280px;
    height: 160px;
    margin: 25px;
}

.floating-box h3 {
	text-align: center;
}

.clearer {
	clear: left;
}

.footer {
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	padding: 10px;
	background-color: #80808038;
}

.footer ul {
	list-style-type: none;
	margin-top: 0px;
	padding-left: 0px;
}

.chat-box {
	position: fixed;
    bottom: 0px;
    right: 45px;
}

.chat {
	background-color: #3d4042;
	float: right;
	margin: 5px 5px 0px 5px;
	border-style: solid;
	border-width: 3px;
	border-color: #3d4042;
    color: #ececec;
}

.app-section {
	float: left;
	
}

.header {
	padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #80808038;
    width: 97.6%;
}

.header h2 {
	margin: 0;
}

.button {
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 9px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: right;
}

.modal-button {
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 9px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    float: right;
}

.button-container {
	height: 30px;
}

.box-holder {
	z-index: -1;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#profile-list {

}